<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<title>说明</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no ,viewport-fit=cover" />
	<link href="../../css/mui.css" rel="stylesheet" />
	<link href="../../css/home.css" rel="stylesheet" />
	<style type="text/css">
		.add_account_agreement {
			padding: 0 1rem;
		}

		.agreement_text {
			margin-bottom: 0;
		}

		p {
			color: #000000;
			font-size: 16px;
			/* text-indent:2em; */
			margin-bottom: 0;
		}
	</style>
</head>

<body class="w20" style="overflow: scroll;">
	<header class="mui-bar mui-bar-nav statusbar" style="border-bottom: 1px solid #E3E3E3;height: 2.8rem;">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left" href="regist_loginpwd.html" id="back"></a>
		<h1 class="mui-title" style="font-size:1rem;line-height: 3rem;">廊坊银行电子账户服务协议</h1>
	</header>
	<div class="mui-content w20" style="padding-top: 2.85rem;">
		<div class="add_account_agreement">
			<div class="agreement_text">
				<div class="agreement_list">
					<div class="agreement_title">甲方：客户</div>
					<div class="agreement_title">乙方：廊坊银行股份有限公司</div>
					<p>甲方自愿申请使用乙方提供的电子账户服务，为明确双方的权利和义务，维护双方的合法权益，特签订本服务协议。</p>

					<div class="agreement_title">第一条 定义</div>
					<p>1.“电子账户”指甲方通过互联网或乙方开通的其他渠道自助申请，经乙方核准后为甲方开立的，仅供甲方通过乙方的<span class="agreement_title">电子银行渠道及乙方合作商户渠道</span>办理金融业务的II类个人人民币银行结算账户。该账户功能限于存款、购买投资理财产品等金融产品、限定金额的消费和缴费支付等服务。</p>
					<p>2.密码：指乙方用以识别甲方身份与指令而要求甲方提供的代码或口令。包括登录密码、交易密码、动态密码等多个种类，具体业务中使用的密码类别以乙方要求为准。动态密码包括但不限于短信验证码。短信验证码指在甲方使用电子账户过程中，乙方通过乙方指定客服号码以手机短信息方式发送到绑定手机号码的特定代码。</p>
					<p>3.绑定手机号码：是指甲方在申请开立电子账户时，指定的关联电子账户的手机号码。绑定的手机号码用于接收乙方发送的授权码、短信验证码以及交易提示短信等的手机号码。乙方认为必要时，可通过此手机号码向甲方核实身份信息和交易信息。</p>
					<p>4.绑定账户：是指甲方开立电子账户时设定的，为甲方本人实名制开立且真实、合法持有的有效银行卡，可以是乙方银行或其他银行的借记卡账户，暂不支持信用卡作为绑定账户。</p>
					<p>5.电子银行：指乙方利用面向社会公众开放的通讯通道、公众网络或为甲方建立的专用网络向甲方提供的银行服务。根据服务渠道的不同，乙方电子银行可分为网上银行、手机银行、微信银行等。</p>
					<p>6.乙方合作商户渠道：是指乙方经严格审核后开展合作的商户所提供的渠道，包括但不限于合作商户网上平台、商户手机客户端等电子渠道。</p>

					<div class="agreement_title">第二条 申请与开立</div>
					<p>1.乙方的电子账户提供给具有完全民事行为能力的自然人，甲方自愿申请开立电子账户，并承诺申请电子账户时具有完全民事行为能力。</p>
					<p>2.电子账户申请渠道：甲方可通过乙方指定的、电子银行渠道及乙方合作商户渠道申请。</p>
					<p>3.申请资料：<br>&nbsp&nbsp&nbsp甲方申请开立电子账户需向乙方提供有效的身份证件信息及其他乙方要求提供的资料。</p>
					<p>4.申请时的身份识别：<br>&nbsp&nbsp&nbsp乙方在甲方按乙方相应的要求与方法提供了身份证件信息、同名Ⅰ类银行账户信息及其他要求信息后，即同意乙方通过自主或与第三方合作方式识别甲方身份。</p>
					<p>5.甲方知悉并同意：为方便甲方使用电子账户开展充值、提现等业务，乙方为甲方I类银行账户提供同步开通银联、第三方支付机构快捷支付业务的申请入口。<span class="agreement_title">甲方同意本协议即代表同意开通银联、第三方支付机构快捷支付业务，并自行承担因快捷支付交易而可能产生的风险损失。</span></p>
					<p>6.乙方审核同意甲方的电子账户开立申请后，即生成电子账户账号。</p>
					<p>7.甲方可申请开立多个电子账户，具体数量以乙方规定为准。</p>

					<div class="agreement_title">第三条 使用</div>
					<p>1.甲方知悉并同意：甲方使用经乙方<span class="agreement_title">电子银行渠道及乙方合作商户渠道</span>申请开立的电子账户进行查询和交易的，乙方识别甲方身份的依据为密码，不同业务所依据的密码类别以乙方规定为准。</p>
					<p>2.甲方知悉并同意:
						<br>&nbsp&nbsp&nbsp（1）甲方申请开立的电子账户不提供存取现金服务，不配发实体介质。
						<br>&nbsp&nbsp&nbsp（2）甲方只能用该电子账户享受乙方在电子银行渠道及乙方合作商户渠道已开通与电子账户相应的金融服务。
						<br>&nbsp&nbsp&nbsp<span class="agreement_title">（3）甲方使用电子账户时，必须遵守乙方设置的限额控制，乙方有权根据业务需要和有关法律法规及监管政策的规定，按照不同开立渠道、不同交易类型对限额进行调整。</span>
						<br>&nbsp&nbsp&nbsp<span class="agreement_title">（4）甲方涉嫌从事洗钱、欺诈、恐怖融资等违反法律法规、监管规定行为，违反本协议或其他与乙方的相关协议，或存在恶意攻击乙方网上银行系统等行为，或因甲方与其他第三方发生纠纷而致乙方被卷入诉讼或遭受损失的，或诋毁、损害乙方声誉的，或甲方账户涉嫌被洗钱、欺诈、恐怖融资等违法违规行为利用的，或甲方账户从事其他违法活动的，乙方有权中止或终止本协议，或中止或终止提供相关服务并保留追究甲方责任的权利，甲方应承担因此给乙方造成的损失，如发生法院等司法机关、政府有权机关因扣划甲方资金而至乙方资金被扣划的，乙方有权扣划甲方资金予以补偿乙方因此所受的资金损失。</span>
						<br>&nbsp&nbsp&nbsp<span class="agreement_title">（5）甲方有义务按照乙方要求，配合提供和更新甲方信息并对真实性和有效性负责，甲方未按乙方要求提供和更新甲方信息，或者甲方存在乙方拒绝接纳的业务情形时，乙方有权限制甲方交易、中止或终止业务关系。</span>
					</p>
					<p>3.电子账户只限甲方本人使用，不得出借、转让或出租。否则，由此产生的损失由甲方自行承担。</p>
					<p>4.乙方通过<span class="agreement_title">电子银行渠道及乙方合作商户渠道</span>为甲方提供电子账户服务，甲方应按乙方的规定进行操作，因操作不当造成的损失，乙方不承担任何责任。</p>
					<p>5.<span class="agreement_title">甲方知悉并同意，甲方I类银行账户通过乙方合作银联、第三方支付机构开通快捷支付后，通过快捷支付方式进行的交易视为甲方本人行为。</span></p>
					<p>6.甲方知悉并同意：
						<br>&nbsp&nbsp&nbsp（1）电子账户开立时，授权乙方借助第三方渠道校验甲方身份的真实性。
						<br>&nbsp&nbsp&nbsp（2）电子账户交易时，授权乙方根据甲方发送的或甲方在乙方合作商户渠道发送的指令，从第三方渠道完成扣款、提现等交易。
						<br>&nbsp&nbsp&nbsp（3）授权乙方将甲方提交的资料内容、信息用于与电子账户的相关服务中。
					</p>

					<div class="agreement_title">第四条 凭证和签章</div>
					<p>1.甲方知悉并同意，乙方银行系统存储的与服务相关的数据电文是甲方使用电子账户情况的有效书面证明。</p>
					<p>2.甲方认可：甲方通过乙方合作商户渠道，经乙方短信密码验证通过后开立和使用电子账户的行为，以及甲方在经乙方<span class="agreement_title">电子银行渠道及乙方合作商户渠道</span>开立的投资理财账户下使用密码的行为，即视同中国法律法规及规章规定的甲方签章行为，即构成甲方可靠的电子签名，均表明了甲方认可其中交易内容。
					</p>

					<div class="agreement_title">第五条 使用规则</div>
					<p>1.甲方在乙方<span class="agreement_title">电子银行渠道及乙方合作商户渠道</span>开立、使用电子账户，应遵守《人民币银行结算账户管理办法》、《中国人民银行关于改进个人银行账户服务加强账户管理的通知》等中华人民共和国的法律、法规和中国人民银行、中国银行业监督管理委员会及国家外汇管理局的各项规定及乙方的业务制度规定。</p>
					<p>2.甲方承诺向乙方或<span class="agreement_title">乙方合作商户</span>提供的所有资料真实、有效、完整、准确、合法，提交的开户证件符合《个人存款账户实名制规定》和《中国人民银行关于改进个人银行账户服务
						加强账户管理的通知》，未由他人代办或冒充他人申请。如甲方提供的资料不符合要求或存在代办、冒充他人申请等情形，乙方有权拒绝甲方的申请，对于已经开立了电子账户的，乙方将立即停止账户的使用，并按照《中国人民银行关于改进个人银行账户服务加强账户管理的通知》的规定进行后续处理。</p>
					<p>3.<span class="agreement_title">甲方应妥善保管电子账户的密码、个人有效身份证件、绑定的手机号码等个人信息和设备，如上述信息或设备出现遗失、泄露或被他人盗用的情况，甲方应立联系乙方申请电子账户冻结及挂失，在申请完成前，已发生的损失由甲方自行承担。</span></p>
					<p>4.甲方有权按照乙方的电子账户业务规则向乙方发出划转电子账户资金的指令，乙方应实时执行乙方接收到的甲方指令。甲方同意，乙方将指令发出银行所能控制的乙方系统即为甲方指令执行完成。</p>
					<p>5.甲方知悉并同意，由于技术原因，乙方无法确保系统不间断无差错运行，但乙方出于电子账户维护升级的需要而停止电子账户的部分或全部时，应提前三个工作日通过网站公告，由于乙方无法控制的原因发生的电子账户系统停运，乙方将在发生停止运营后三日内通过网站公告。</p>
					<p>6.甲方可通过乙方<span class="agreement_title">电子银行渠道及乙方合作商户渠道</span>完成电子账户信息修改，可以修改的事项以乙方届时业务规则为准。</p>
					<p>7.如甲方违规使用电子账户，乙方有权停止其使用该账户，由此产生的损失由甲方承担。</p>

					<div class="agreement_title">第六条 账户指令与记录</div>
					<p>1.乙方系统记录的甲方电子账户信息的数据电文（包括但不限于甲方通过电子渠道传递的指令、电子账户交易信息等），为双方认同的书面证据，可视为该交易的有效凭证。</p>
					<p>2.<span class="agreement_title">电子账户不寄送纸质对账单，甲方可通过电子银行渠道等核对交易记录。如甲方对交易有异议，可联系乙方进行核查。</span></p>
					<p>3.如乙方发现有下列情形之一，乙方有权不认可或不执行数据电文表达的甲方指令：
						<br>&nbsp&nbsp&nbsp（1）乙方有充足的理由怀疑数据信息或甲方指令的真实性；
						<br>&nbsp&nbsp&nbsp（2）乙方执行甲方指令将违反相关的法律、法规或规章的规定；
						<br>&nbsp&nbsp&nbsp（3）甲方发出的数据电文表达的格式、内容、操作权限等不符合乙方要求；
						<br>&nbsp&nbsp&nbsp（4）电子账户中的余额或账户状态不足以完成甲方指令（上述情况下乙方有权根据具体情况决定对数据电文表达的甲方指令不予执行或给予部分执行）；
						<br>&nbsp&nbsp&nbsp（5）甲方违反本协议或双方已订立的其他协议或合同的；
						<br>&nbsp&nbsp&nbsp（6）双方特别约定或法律法规规定的其他情况。</p>
					<p>4.甲方指令一经发出，除乙方允许情况外，不得要求撤销。</p>

					<div class="agreement_title">第七条 信息采集、使用和披露</div>
					<p>乙方在法律允许的前提下，为业务和管理需要可收集、处理、传递及应用甲方的个人资料。乙方对甲方的个人隐私和商业秘密将依法予以保密，未经甲方许可，乙方不向任何第三人提供或许可第三人使用甲方个人信息，但依照法律、法规规定应向有权机关（包括但不限于向征信机构）披露，或乙方为完善服务必须向相关外包服务提供商提供的除外。</p>

					<div class="agreement_title">第八条 银行责任的免除与限制</div>
					<p>1.甲方使用电子账户时，如非乙方过错而发生的数据电文错误或者对甲方指令识别、处理或执行错误时，乙方对因该项错误的发生所导致的损失和其他不利后果不承担责任；但乙方可在甲方处理时对甲方提供必要的协助。</p>
					<p>2.对于不可抗力（包括但不限于战争、自然灾害、电力供应中断、火灾、地震等）、意外事件或乙方无法控制的其他情况所造成的损失，乙方不承担责任。</p>
					<p>3.若发生乙方对于合法有效的甲方指令识别错误或执行错误，则甲方须在知道或应当知道错误发生后于三个工作日内书面通知乙方并尽力采取措施防止损失扩大，乙方应尽快调查处理并在合理可行的范围内采取补救措施，对于因银行/电子账户系统错误而造成的甲方直接财产损失，乙方应按适用的规则予以赔偿，<span
						 class="agreement_title">但对于任何间接损失、履行利益、后果性损害、非财产损害、乙方于错误发生时不可预见的损失以及因甲方未能及时通知或及时采取措施而导致扩大的损失，乙方不承担责任。</span></p>

					<div class="agreement_title">第九条 公告与变更</div>
					<p>1.甲方同意，乙方可对本协议及电子账户使用规则进行单方变更，以乙方官方网站或网银、手机银行、微信银行、直销银行、乙方合作商户等渠道发布的公告为准。如甲方在银行公告之日后继续使用电子账户，视为甲方已接受上述变更，相关条款根据该变更而自动作相应修改，双方无须另行签订书面协议。</p>
					<p>2.乙方在上述渠道发布电子账户服务相应公告内容的，自发布之日起视为送达；涉及本协议修改的，自发布之日起本协议自动修改。甲方应及时认真阅读并严格遵守，因甲方使用不当所造成的损失由其自行承担。</p>

					<div class="agreement_title">第十条 其他</div>
					<p>1.乙方通过指定客户服务号码向甲方提供短信服务，通过<span class="agreement_title">电子银行（包括但不限于乙方官方网站、手机银行、微信银行）、乙方合作商户渠道</span>提供电子账户申请，也仅通过上述渠道提供电子账户的进度查询和电子账户服务，<span
						 class="agreement_title">因甲方相信欺诈电话、短信或虚假网站而将电子账户信息泄露造成的全部损失由甲方自行承担。</span></p>
					<p>2.本协议适用中华人民共和国法律、行政法规和中国人民银行以及中国银行业监督管理委员会的部门规章与命令和有关国内行业惯例。<span class="agreement_title">在本协议项下发生的相关争议，双方应友好协商解决，协商不成的，应由乙方所在地的人民法院管辖。</span></p>
					<p>3.未尽事宜，依据中华人民共和国法律、法规和中国人民银行以及中国银行业监督管理委员会的部门规章与命令和有关国内行业惯例的规则办理。</p>
					<p>4.本协议自甲方在乙方网站申请时点击确认起生效，<span class="agreement_title">本协议生效不视为乙方确保为甲方开立电子账户。</span></p>

					<p>在甲方确认同意本协议之前，甲方已认真阅读本协议。在确信其已完全理解的情况下，甲方确认其完全同意本协议的全部条款与内容（特别是但不限于本协议第八条免除与限制乙方责任的条款内容）。</p>
				</div>
			</div>
		</div>
	</div>
	<script src="../../js/common/immersed.js" type="text/javascript" charset="utf-8"></script>
	<script src="../../js/mui.min.js"></script>
</body>

</html>